@model Asklepios.Core.Models.Location
<div class="jumbotron" style="padding:20px">
    @*<div class="container">*@
    <div class="row">
        <h2 style="text-align:center">@Model.Name</h2>

    </div>
    <div class="row">
        <div class="col-xs-6">

            @*<div class="col justify-content-center">*@
            <img alt="@Model.Name" src="@Model.ImagePath" class="img-responsive rounded" style="        display: block;
        border-radius: 6px; width:500px; height:auto
">
        </div>
        @*</div>*@
        <div class="col">
            <h3 style="padding: 0px">
                @Model.Description
            </h3>
            @*<div class="row" style="margin:0px;padding:0px">

                </div>*@
            <div class="row" style="margin:0px; padding:0px">
                <div class="col-xs-2" style="padding: 0px">
                    <h3>Adres</h3>
                    @Model.City, @Model.PostalCode
                    <br />
                    @Model.StreetAndNumber
                    <br />
                    @Model.VoivodeshipType
                    <br />
                    <h3>Telefon</h3>
                    @Model.PhoneNumber

                </div>
                <div class="col-xs-4" style="margin:0px;padding:0px;">
                    <h3>Usługi</h3>
                    @{
                        int count = Model.Services.Count();

                        for (int i = 0; i < count; i += 2)
                        {
                            <div class="row" style="margin:0px;padding:0px">
                                @{
                                    if (i + 1 < count)
                                    {
                                        <div class="col-xs-4" style="margin:0px;padding:0px">@Model.Services.ElementAt(i)</div>
                                        <div class="col-xs-4" style="margin:0px;padding:0px">@Model.Services.ElementAt(i + 1)</div>

                                    }
                                    else
                                    {
                                        <div class="col-xs-4" style="margin:0px;padding:0px">@Model.Services.ElementAt(i)</div>
                                    }
                                }

                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@*</div>*@
