@model Asklepios.Web.Areas.CustomerServiceArea.Models.MedicalWorkerViewModel
<div class="d-flex jumbotron flex-column" style=" padding:20px;">
    <div class="d-flex mb-3 flex-wrap align-content-stretch" style="text-align:center">
        <div class="p-2  pt-3 align-content-center align-items-center align-self-center mx-auto" style="width:400px; text-align:center">
            <div class="d-flex flex-fill  justify-content-center" style="text-align:center">
                <img alt="@Model.MedicalWorker.FullProffesionalName" src="@Model.MedicalWorker.ImagePath" class="img-fluid" style="display: block; max-height:300px;
        border-radius: 6px; ">
            </div>
        </div>
        <div class="p-2 flex-grow-1 pt-3 m-auto flex-grow-1" style="width:400px;text-align:center">
            <h3 style="font-weight:900;">
                <a asp-action="MedicalWorkerDetails" asp-controller="Patient" asp-route-id="@Model.MedicalWorker.Id">

                    @Model.MedicalWorker.FullProffesionalName
                    </a>
            </h3>
            <br>

            <h4>Zakres specjalizacji:</h4>
            <h5>
                @for (int i = 0; i < Model.MedicalWorker.MedicalServices.Count; i++)
                {
                    MedicalService service = Model.MedicalWorker.MedicalServices[i];
                        <br>
                    @service.Name
                }

            </h5>
            <partial name="_Stars" model="@Model.MedicalWorker.AverageRating" />

            @if (Model.MedicalWorker.VisitReviews.Count > 0)
            {
                @Model.MedicalWorker.RatingDescription
            }
        </div>

        <div class="d-flex p-2 pt-3 m-auto flex-grow-1 flex-fill" style="min-width:400px;text-align:center">
            <div class="d-flex flex-column flex-grow-1">
                <a asp-area="PatientArea" asp-controller="Patient" asp-action="MedicalWorkerDetails" asp-route-id="@Model.MedicalWorker.Id" class="btn btn-primary btn-icon-split ">
                    <span class="icon text-white-50 left" style="text-align:left;float:left">
                        <i class="fas fa-address-book"></i>
                    </span>
                    <span class="text" style="float: left">Szczegóły</span>
                </a>
                <form class="form d-flex flex-column mt-2" asp-action="BookVisitConditions" method="post">
                    <!--@Html.TextBoxFor(m => m.SelectedServiceId, new { @class = "form-control " })--> @*, @style = "visibility:hidden;height:0px"*@
                    <button type="submit" class="btn btn-primary btn-icon-split d-flex">
                        <span class="icon text-white-50 left" style="text-align:left;float:left">
                            <i class="fas fa-address-book"></i>
                        </span>
                        <span class="text" style="float: left">Zarezerwuj wizytę</span>
                    </button>
                    @*@Html.TextBoxFor(m => m.SelectedMedicalWorkerId, new { @class = "form-control ", @style = "visibility:hidden;height:0px" },)*@
                    <input asp-for="SelectedMedicalWorkerId" style="visibility:collapse; height:0px" value="@Model.MedicalWorker.Id.ToString()" />
                    @*<input asp-for="SelectedServiceId" style="visibility:collapse; height:0px" value="@Model.Visit.PrimaryService.Id.ToString()" />*@

                </form>

                @*<a asp-area="PatientArea" asp-controller="Patient" asp-action="BookVisit" class="btn btn-primary btn-icon-split mt-3">
            <span class="icon text-white-50">
                <i class="fas fa-book"></i>
            </span>
            <span class="text">Zarezerwuj wizytę</span>
        </a>*@
                @*style="align-items: flex-start;display:block; padding-left:50px;"
        style="text-align:left; align-content:baseline; align-items:flex-start"*@
            </div>
        </div>
    </div>
</div>