@model Asklepios.Core.Models.MedicalTestResult
<div class="d-flex jumbotron w-100" style="padding:20px;display:flex;align-content:center;">
    <div class="d-flex flex-column w-100">
        @Model.Descritpion
        <!--<div class="d-flex justify-content-center center-block mb-2">
            <h2 style="text-align:center;">@Model</h2>
        </div>
        <div class="d-flex flex-row justify-content-around  flex-wrap ">
            <div class="d-flex flex-fill pt-2" style="max-width:500px ">
                <img alt="@Model" src="@Model" class="img-fluid w-100" style="display: block;
                         border-radius: 6px;">
            </div>-->
        @*<div class="d-flex flex-grow-0">

            </div>*@
        <!--<div class="d-flex flex-column flex-fill  pt-2">-->
        @*style="max-width:500px"*@
        <!--<div class="d-flex ml-4 text-wrap">
                    <p class="text-nowrap">@Model</p>
                </div>
                <div class="d-flex flex-row mt-4 ml-4">
                    <div class="d-flex  align-self-baseline w-25">
                        <h6 style="font-weight:bold">Adres:</h6>
                    </div>
                    <div class="d-flex flex-column align-self-baseline">
                        <div>
                            @Model, @Model
                        </div>
                        <div>
                            @Model
                        </div>
                        <div>
                            @Model
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row mt-4 ml-4">
                    <div class="d-flex  align-self-baseline w-25">
                        <h6 style="font-weight:bold">Telefon:</h6>
                    </div>
                    <div class="d-flex flex-column align-self-baseline">
                        <div>
                            @Model
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row mt-4 ml-4">
                    <div class="d-flex  align-self-baseline w-25">
                        <h6 style="font-weight:bold">Usługi:</h6>
                    </div>
                    <div class="d-flex flex-row flex-wrap w-75 align-self-baseline">

                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>