@model Asklepios.Web.Areas.PatientArea.Models.BookVisitViewModel
@{
    ViewData["Title"] = "View";
}

<h1 style="text-align:center">
    Zarezerwuj wizytę
</h1>

<form asp-action="BookVisitConditions" method="post">

    @{
        SelectList workersItems = null;
        workersItems = new SelectList(Model.GetMedicalWorkers, "Id", "FullProffesionalName");
        SelectList locationItems = null;
        locationItems = new SelectList(Model.GetLocations, "Id", "Name");
        SelectList categoriesList = null;
        categoriesList = new SelectList(Model.GetVisitCategories, "Id", "CategoryName");
        SelectList servicesList = null;
        servicesList = new SelectList(Model.GetMedicalServices, "Id", "Name");
    }
    <select class="form-control  mb-1" asp-for="SelectedLocationId" asp-items="locationItems">
        @if (Model.HasPredefinedLocation)
        {

        }
        else
        {
            <option value="0">Wybierz oddział</option>
        }
    </select>

    <select class="form-control  mb-1" asp-for="SelectedCategoryId" asp-items="categoriesList">
        @if (Model.HasPredefinedCategory)
        {
            @if (@categoriesList.Count() == 0)
            {
                <option value="">Wybierz kategorię</option>
            }

        }
        else
        {
            <option value="0">Wybierz kategorię wizyty</option>
        }

    </select>
    <select class="form-control  mb-1" asp-for="SelectedServiceId" asp-items="servicesList">
        @if (Model.HasPredefinedService)
        {
            @if (@servicesList.Count() == 0)
            {
                <option value="">@Model.SelectedMedicalServiceName</option>
            }
        }
        else
        {
            <option value="0">Wybierz usługę</option>
        }

    </select>

    <select class="form-control mb-1" asp-for="SelectedMedicalWorkerId" asp-items="workersItems">
        @if (Model.HasPredefinedMedicalWorker)
        {
            @if (@workersItems.Count() == 0)
            {
                <option value="">@Model.SelectedMedicalWorkerName</option>
            }

        }
        else
        {
            <option value="0">Wybierz lekarza</option>
        }

    </select>
    <div class="d-flex flex-column my-2">
        <button id="btnSubmit" type="submit" class="btn btn-primary btn-icon-split ">
            <span class="icon text-white-50 left" style="text-align:left;float:left">
                <i class="fas fa-filter"></i>
            </span>
            <span class="text" style="float: left">Filtruj!</span>
        </button>
    </div>
    <div class="d-flex">
        <div class="form-group d-flex flex-column ">
            <button onclick="MovetToPreviousPage()" class="btn btn-primary btn-icon-split d-flex ">
                <span class="icon text-white-50 left" style="text-align:left;float:left">
                    <i class="fas fa-arrow-left"></i>
                </span>
            </button>
        </div>

        <select class="form-control mx-2" asp-for="CurrentPageNum" asp-items="@Model.PagesList" onchange="document.getElementById('btnSubmit').click();" onselect="Refresh()">
        </select>

        <div class="form-group d-flex flex-column ">
            <button onclick="MoveToNextPage()" class="btn btn-primary btn-icon-split d-flex">
                <span class="icon text-white-50 left" style="text-align:left;float:left">
                    <i class="fas fa-arrow-right"></i>
                </span>
            </button>
        </div>

    </div>
        <input asp-for="HasPredefinedMedicalWorker" value="@Model.HasPredefinedMedicalWorker" hidden />
    <input asp-for="HasPredefinedService" value="@Model.HasPredefinedService" hidden />
    <input asp-for="HasPredefinedCategory" value="@Model.HasPredefinedCategory" hidden />
    <input asp-for="HasPredefinedLocation" value="@Model.HasPredefinedLocation" hidden />
    <input asp-for="SelectedCategoryId" value="@Model.SelectedCategoryId" hidden />
    <input asp-for="SelectedLocationId" value="@Model.SelectedLocationId" hidden />
    <input asp-for="SelectedMedicalWorkerId" value="@Model.SelectedMedicalWorkerId" hidden />
    <input asp-for="SelectedServiceId" value="@Model.SelectedServiceId" hidden />
    <input asp-for="SelectedVisitId" value="@Model.SelectedVisitId" hidden />

</form>


@{
    List<Visit> visits = Model.PageVisits;
    if (visits.Count > 0)
    {
        @for (int i = 0; i < visits.Count; i++)
        {
            Visit visit = visits[i];
            <partial name="_AvailableVisit" model="visit" />
        }
    }
    else
    {
        <h3 style="text-align:center">Brak dostępnych wizyt przy założonych kryteriach...</h3>
    }
}
<script>
    function Refresh() {
        document.getElementById('btnSubmit').click();
    }
    function MoveToNextPage() {
        var pageNum = document.getElementById('CurrentPageNum').selectedIndex;

        var max = -1;
        var ddl = document.getElementById('CurrentPageNum');
        for (i = 0; i < ddl.options.length; i++) {
            if (max < ddl.options[i].index) {
                max = ddl.options[i].index;
            }
        }
        if (pageNum < max) {
            document.getElementById('CurrentPageNum').selectedIndex  = pageNum + 1;
        }
    }
    function MovetToPreviousPage(){
        var pageNum = document.getElementById('CurrentPageNum').selectedIndex;
        if (pageNum - 1 > -1) {
            document.getElementById('CurrentPageNum').selectedIndex  = pageNum - 1;
        }
    }

</script>