@model Asklepios.Core.Models.MedicalReferral
<div class="d-flex jumbotron w-100 flex-column" style="padding:20px;align-content:center;">
    <div class="d-flex flex-row justify-content-start align-items-end  flex-wrap " style="text-align:center">

        <div class="d-flex p-2   align-content-center align-items-center align-self-center mx-auto" style="width:400px; text-align:center">
            <div class="d-flex flex-fill flex-column justify-content-center" style="text-align:center">
                <a asp-action="MedicalWorkerDetails" asp-controller="CustomerService" asp-route-id="@Model.IssuedBy.Id">
                    <h3 style="font-weight:900;">
                        @Model.IssuedBy.FullProffesionalName
                    </h3>
                </a>
                <div class="d-flex align-content-center mr-auto pt-2" style="text-align:center">
                    <img alt="@Model.IssuedBy.FullProffesionalName" src="@Model.IssuedBy.Person.ImageSource" class="mx-auto d-block" style="display: block; max-height:50% ; max-width:50%;
        border-radius: 6px; ">
                </div>

            </div>
        </div>

        <div class="d-flex p-2  pt-3 m-auto flex-grow-1" style="width:400px;text-align:center">
            <div class="d-flex flex-fill pt-2 flex-column">
                <h2>
                    Usługa: @Model.PrimaryMedicalService.Name
                    @if (Model.MinorMedicalService != null)
                    {
                    <br />
                        <span>
                            Podusługa: @Model.MinorMedicalService.Name
                        </span>
                    }

                </h2>

                <div>
                    Wystawione: @Model.IssueDate.ToString("dd-MM-yyyy")
                </div>
                <div>
                    Ważne do: @Model.ExpireDate.ToString("dd-MM-yyyy")
                </div>
                @{
                    if (Model.HasBeenUsed)
                    {<p>
                        Skierowanie zostało wykorzystane
                    </p>
                    }
                    else if (Model.HasExpired)
                    {
            <p>Ważność skierowania upłynęła</p>
                    }
                }

            </div>
        </div>
        @*<div class="d-flex p-2  pt-3 m-auto flex-grow-1" style="text-align:center">
                <div class="d-flex" style="text-align:center">
                    Badanie: @Model.MedicalService.Name
                </div>
        </div>*@

    </div>
</div>