@model Asklepios.Web.Areas.CustomerServiceArea.Models.ContactMessageViewModel

<div class="d-flex flex-column .align-items-stretch p-5">
    <h2>Formularz kontaktowy - uwagi odnośnie portalu</h2>

    <form class="form" asp-action="Contact" method="post">
        <div class="form-group">
            <label for="inputState">Temat</label>
            @*<select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>*@
            @Html.DropDownListFor(a => a.Subject, new[]
{
        new SelectListItem() {Text = "Zgłoszenie błędu w module pracownika obsługi klienta"},
        new SelectListItem() {Text = "Propozycja usprawnień w module pracownika obsługi klienta" },
        new SelectListItem() {Text = "Inne..." },
        }, "Wybierz temat...", new { @class = "form-control" })
            <span asp-validation-for="Subject" type="text" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="inputAddress">Wiadomość</label>
            @*<input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">*@

            @Html.TextAreaFor(m => m.Message, 10, 1, new { @class = "form-control" })
            <span asp-validation-for="Message" type="text" class="text-danger"></span>

        </div>
        <div class="form-group d-flex flex-column mt-2">
            <button id="btnSubmit" type="submit" class="btn btn-primary btn-icon-split d-flex">
                <span class="icon text-white-50 left" style="text-align:left;float:left">
                    <i class="fas fa-forward"></i>
                </span>
                <span class="text" style="float: left">asd</span>
            </button>
        </div>

        @*<button type="submit" class="btn btn-primary w-100">Wyślij</button>*@

        @if (Model.HasInfoMessage)
        {
            @if (Model.HasInfoMessage)
            {
                if (Model.AlertMessageType == Asklepios.Web.Enums.AlertMessageType.Info)
                {
                    <div class="messages" style="margin-top:10px;text-align:center">
                        <p class="alert alert-success">
                            @Model.AlertMessage
                        </p>
                    </div>

                }
                else
                {
                    <div class="messages" style="margin-top: 10px; text-align: center ">
                        <p class="alert alert-danger">
                            @Model.AlertMessage
                        </p>
                    </div>

                }
            }
            @*<div>@Model.AlertMessage</div>*@
        }
    </form>
</div>
