@model Asklepios.Web.Areas.CustomerServiceArea.Models.SelectPatientViewModel
@{
    ViewData["Title"] = "View";
}

<h1 style="text-align:center">
    Pulpit pracownika obsługi klienta
</h1>
@if (Model.SelectedPatient != null)
{
    <h3 >
        Wybrany pacjent:
    </h3>

    <partial name="_SelectedPatient" model="Model.SelectedPatient" />

}

<form asp-action="Dashboard" method="post">
    <label for="SelectedName">Imię</label>
    @Html.TextBoxFor(m => m.SelectedName, new { @class = "form-control mb-2" })
    <label for="SelectedSurName">Nazwisko</label>
    @Html.TextBoxFor(m => m.SelectedSurname, new { @class = "form-control mb-2" })
    <label for="SelectedPESEL">PESEL</label>
    @Html.TextBoxFor(m => m.SelectedPESEL, new { @class = "form-control mb-2" })
    <label for="SelectedPassportNumber">Numer paszportu</label>
    @Html.TextBoxFor(m => m.SelectedPassportNumber, new { @class = "form-control mb-2" })

    <div class="d-flex flex-column my-4">
        <button class=" btn btn-secondary   mb-1">Filtruj!</button>

    </div>
    @*<select asp-for="@Model.SearchOptions.SelectedDoctor" asp-items="@Model.GetMedicalWorkers.ToList()" class="form-control">
            <option>Select Role</option>
        </select>
        @Html.DropDownList("Title", Model.Select(m => new SelectListItem() { Text = m., Value = m.Title }).ToList(), "Select")*@
</form>



@{

    List<Patient> patients = Model.FilteredPatients.ToList();
    if (patients.Count > 0)
    {
        <h3 >Lista pacjentów:</h3>
        @for (int i = 0; i < patients.Count; i++)
        {
            Patient patient = patients[i];
            <partial name="_Patient" model="patient" />

        }
    }
    else
    {
        <h3 >Brak pacjentów spełniających warunki...</h3>
    }
}