@model Asklepios.Web.Areas.CustomerServiceArea.Models.VisitViewModel
@{
    Visit visit = Model.Visit;
}

<div class="d-flex jumbotron flex-column" style=" padding:20px;display:flex;align-content:center;position:relative">

    <div class="d-flex mb-3 flex-wrap align-self-center align-items-center">
        <div class="p-2   align-content-center align-items-center align-self-center mx-auto " style="min-width:400px; text-align:center">
            <div class="d-flex flex-fill flex-column justify-content-center" style="text-align:center">
                <h3 style="font-weight:900;">
                    @visit.MedicalWorker.FullProffesionalName
                </h3>
                <div class="d-flex align-content-center mr-auto pt-2" style="text-align:center">
                    <img alt="@visit.MedicalWorker.FullProffesionalName" src="@visit.MedicalWorker.Person.ImageSource" class="mx-auto d-block" style="display: block; max-height:50% ; max-width:50%;
        border-radius: 6px; ">
                </div>

            </div>
        </div>
        <div class="p-2 flex-grow-1 pt-3 mx-auto flex-grow-1" style="min-width: 400px; text-align: center">
            <h5>
                <p>
                    Data: @visit.GetVisitDateFullDescription()
                </p>
                <br>
                <p>
                    @visit.Location.Name
                </p>
                <p>
                    Piętro: @visit.MedicalRoom.FloorNumber, pokój: @visit.MedicalRoom.Name
                </p>
            </h5>

        </div>

        @*</div>*@
        <div class="p-2 pt-3 m-auto flex-grow-1" style="min-width: 400px; text-align: center">
            <h5>

                <p>
                    Kategoria: @visit.VisitCategory.CategoryName
                </p>
                <p>Usługi</p>
                <p>
                    @visit.PrimaryService.Name : @visit.GetPrice(visit.PrimaryService); PLN
                </p>

                @for (int i = 0; i < visit.MinorMedicalServices.Count; i++)
                {
                    MedicalService service = visit.MinorMedicalServices[i];
                    if (service != null)
                    {
                        <p>
                            @service.Name : @visit.GetPrice(service); PLN
                        </p>

                    }
                }
                <p>Koszt całkowity: @visit.GetTotalPrice() PLN</p>
            </h5>
        </div>
    </div>

    @if (visit.VisitReview != null)
    {

        <div class="d-flex flex-column mx-2">

            <h5>Recenzja</h5>

            <partial name="_MedicalReview" model="@Model.Visit.VisitReview" />

        </div>
    }
    @if (visit.ExaminationReferrals?.Count() > 0)
    {
        <div class="d-flex flex-column m-2">
            <h5>Wystawione skierowania</h5>
            @for (int i = 0; i < visit.ExaminationReferrals.Count; i++)
            {
                <div class="border border-secondary rounded w-100 flex-grow-0 mb-2  p-3">
                    @{
                        MedicalReferral referral = visit.ExaminationReferrals[i];

                        <div>
                            Usługa: @referral.PrimaryMedicalService.Name
                            @if (referral.MinorMedicalService != null)
                            {
                                <span>
                                    Podusługa: @referral.MinorMedicalService.Name
                                </span>

                            }

                        </div>

                        <div>
                            Wystawione: @referral.IssueDate.ToString("dd-MM-yyyy")
                        </div>
                        <div>
                            Ważne do: @referral.ExpireDate.ToString("dd-MM-yyyy")
                        </div>
                        if (referral.HasBeenUsed)
                        {
                            <p>
                                Skierowanie zostało wykorzystane
                            </p>
                        }
                        else if (referral.HasExpired)
                        {
                            <p>Ważność skierowania upłynęła</p>
                        }
                    }

                </div>

            }
        </div>
    }
    @if (visit.Prescription != null)
    {
        <div class="d-flex flex-column mx-2">
            <h5>Recepta</h5>

            <div class="border border-secondary rounded w-100 flex-grow-0 mb-2  p-3">

                <div class="d-flex flex-fill pt-2 flex-column">

                    <div>
                        Wystawione: @visit.Prescription.IssueDate.ToString("dd-MM-yyyy")
                    </div>
                    <div>
                        Ważne do: @visit.Prescription.ExpirationDate.ToString("dd-MM-yyyy")
                    </div>
                    <div>
                        Numer id recepty:
                        <span style="font-weight:bold"> @visit.Prescription.IdentificationCode</span>
                    </div>
                    <p>Kod dostępu: <span style="font-weight:bold">  @visit.Prescription.AccessCode</span> </p>
                </div>
                <div class="d-flex flex-fill  flex-column">

                    <p>
                        @{
                            for (int i = 0; i < visit.Prescription.IssuedMedicines.Count; i++)
                            {
                                IssuedMedicine item = visit.Prescription.IssuedMedicines[i];
                                <partial name="_Medicine" model="item" />
                                if (i == visit.Prescription.IssuedMedicines.Count - 1)
                                {

                                }
                                else
                                {
                                    <br />
                                }
                            }
                        }
                    </p>
                </div>
            </div>
        </div>
    }
    <div class="d-flex flex-column mx-2">
        <form class="d-flex flex-column" asp-controller="CustomerService" asp-action="BookVisit" asp-area="CustomerServiceArea">

            <input asp-for="SelectedCategoryId" value="@Model.Visit.VisitCategoryId" hidden />
            <input asp-for="SelectedServiceId" value="@Model.Visit.PrimaryServiceId" hidden />
            <input asp-for="SelectedMedicalWorkerId" value="@Model.Visit.MedicalWorkerId" hidden />

            <button type="submit" class="btn btn-primary btn-icon-split  form-control">
                <span class="icon text-white-50">
                    <i class="fas fa-book"></i>
                </span>
                <span class="text">Zarezerwuj ponownie</span>
            </button>
        </form>

    </div>
</div>
