@model Asklepios.Web.Areas.AdministrativeArea.Models.LocationsManageViewModel
@{
    Model.SelectedLocationId = Model.SelectedLocation.Id;

    IEnumerable<SelectListItem>
        removeMode = Html.GetEnumSelectListWithOneValue(Asklepios.Web.Areas.AdministrativeArea.Models.ViewMode.Remove).ToList();
    IEnumerable<SelectListItem>
        readMode = Html.GetEnumSelectListWithOneValue(Asklepios.Web.Areas.AdministrativeArea.Models.ViewMode.Read).ToList();
    IEnumerable<SelectListItem>
        editMode = Html.GetEnumSelectListWithOneValue(Asklepios.Web.Areas.AdministrativeArea.Models.ViewMode.Edit).ToList();
}
<div class="d-flex jumbotron w-100 mx-auto" style="padding:20px;align-content:center;">
    <div class="d-flex flex-column w-100">
        <div class="d-flex justify-content-center center-block mb-2">
            <h2 style="text-align:center;">@Model.SelectedLocation.Name</h2>
        </div>
        <div class="d-flex flex-fill py-2  align-self-center" style="max-width:500px ">
            <img alt="@Model.SelectedLocation.Name" src="@Model.SelectedLocation.ImagePath" class="img-fluid w-100" style="display: block;
                         border-radius: 6px;">
        </div>

        <div class="d-flex flex-row justify-content-around  flex-wrap ">
            @*<div class="d-flex flex-grow-0">

            </div>*@
            <div class="d-flex flex-column flex-fill  pt-2">
                @*style="max-width:500px"*@
                <div class="d-flex ml-4 text-wrap">
                    <p class="">@Model.SelectedLocation.Description</p>
                </div>
                <div class="d-flex flex-row mt-4 ml-4">
                    <div class="d-flex  align-self-baseline w-25">
                        <h6 style="font-weight:bold">Adres:</h6>
                    </div>
                    <div class="d-flex flex-column align-self-baseline">
                        <div>
                            @Model.SelectedLocation.City, @Model.SelectedLocation.PostalCode
                        </div>
                        <div>
                            @Model.SelectedLocation.StreetAndNumber
                        </div>
                        <div>
                            @Model.SelectedLocation.Aglomeration
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row mt-4 ml-4">
                    <div class="d-flex  align-self-baseline w-25">
                        <h6 style="font-weight:bold">Telefon:</h6>
                    </div>
                    <div class="d-flex flex-column align-self-baseline">
                        <div>
                            @Model.SelectedLocation.PhoneNumber
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row mt-4 ml-4">
                    <div class="d-flex  align-self-baseline w-25">
                        <h6 style="font-weight:bold">Usługi:</h6>
                    </div>
                    <div class="d-flex flex-row flex-wrap w-75 align-self-baseline">
                        @{
                            int count = Model.SelectedLocation.Services.Count();

                            for (int i = 0; i < count; i++)
                            {
                                if (i < count - 1)
                                {
                                    <div class="d-flex mr-1 mt-0 pt-0 pb-0 mb-0">
                                        @{
                                            <p style="padding:0px;margin:0px;">
                                                @Model.SelectedLocation.Services.ElementAt(i).Name,
                                            </p>


                                        }
                                    </div>

                                }
                                else
                                {
                                    <div class="d-flex mr-1">
                                        @{
                                            <p>
                                                @Model.SelectedLocation.Services.ElementAt(i).Name
                                            </p>


                                        }
                                    </div>

                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <form class="form mt-2" asp-action="LocationItemEdit" method="post">
            <div>
                <input asp-for="SelectedLocationId" hidden />
                <select asp-for="ViewMode" asp-items="readMode" hidden></select>
            </div>
            <div class="form-group d-flex flex-column">
                <button type="submit" class="btn btn-primary btn-icon-split d-flex">
                    <span class="icon text-white-50 left" style="text-align:left;float:left">
                        <i class="fas fa-pen-square"></i>
                    </span>
                    <span class="text" style="float: left">Edytuj</span>
                </button>
            </div>

        </form>
        <form class="form my-0" asp-action="LocationItemRemove" method="post">
            <div class="form-group d-flex flex-column">

                <input asp-for="SelectedLocationId" hidden />
                <select asp-for="ViewMode" asp-items="removeMode" hidden></select>
            </div>

            <div class="form-group d-flex flex-column">
                <button type="submit" class="btn btn-primary btn-icon-split d-flex">
                    <span class="icon text-white-50 left" style="text-align:left;float:left">
                        <i class="fas fa-minus-square"></i>
                    </span>
                    <span class="text" style="float: left">Usuń</span>
                </button>
            </div>
        </form>

    </div>
</div>
