@model Asklepios.Web.Areas.AdministrativeArea.Models.PatientDetailsViewModel
@{
    IEnumerable<SelectListItem>
        selectListItems = Html.GetEnumSelectList(typeof(Asklepios.Web.Areas.AdministrativeArea.Models.ViewMode)).Where(c => c.Value == ((int)Asklepios.Web.Areas.AdministrativeArea.Models.ViewMode.Read).ToString());
    selectListItems.ElementAt(0).Selected = true;

    IEnumerable<SelectListItem> removeMode = Html.GetEnumSelectListWithOneValue(Asklepios.Web.Areas.AdministrativeArea.Models.ViewMode.Remove).ToList();
    IEnumerable<SelectListItem> readMode = Html.GetEnumSelectListWithOneValue(Asklepios.Web.Areas.AdministrativeArea.Models.ViewMode.Read).ToList();

}

<div class="d-flex jumbotron flex-column" style=" padding:20px;">
    <div class="d-flex mb-3 flex-wrap align-content-around align-items-center" style="text-align:center">
        <div class="p-2  pt-3 align-content-center align-items-center align-self-center mx-auto" style="width:400px; text-align:center">
            <div class="d-flex flex-fill  justify-content-center" style="text-align:center">
                <img alt="@Model.CurrentPatient.Person.FullName" src="@Model.CurrentPatient.Person.ReturnProperImageFilePath(Common.FEMALE_IMAGE_PATH, Common.MALE_IMAGE_PATH)" class="img-fluid" style="display: block; max-height:300px;
        border-radius: 6px; ">
            </div>
        </div>
        <div class="p-2 d-flex pt-3 m-auto flex-grow-1 flex-column" style="width:400px;text-align:center">
            <h3 style="font-weight:900;">
                <a asp-action="PatientItemDetails" asp-controller="Administrative" asp-route-id="@Model.CurrentPatient.Id">
                    @Model.CurrentPatient.Person.FullName
                </a>
            </h3>
            <h5>Id: @Model.CurrentPatient.Id</h5>
            <h5>Imię: @Model.CurrentPatient.Person.Name</h5>
            <h5>Nazwisko: @Model.CurrentPatient.Person.Surname</h5>
            <h5>Adres e-mail: @Model.CurrentPatient.User.Email</h5>
            @if (Model.CurrentPatient.Person.HasPolishCitizenship)
            {
                <h5>PESEL: @Model.CurrentPatient.Person.PESEL</h5>
            }
            else
            {
                <h5>Numer paszportu: @Model.CurrentPatient.Person.PassportNumber</h5>
            }
            <h5>Aglomeracja: @Model.CurrentPatient.Person.AglomerationDescription</h5>
            <h5>Data urodzenia: @Model.CurrentPatient.Person.BirthDate.Value.ToString("dd-MM-yyyy")</h5>
            @*<h5>Polskie obywatelstwo: @Model.CurrentPatient.Person.HasPolishCitizenship</h5>*@
            <h5>Pakiet medyczny: @Model.CurrentPatient.MedicalPackage.Name</h5>
            <h5>Oddział NFZ: @Model.CurrentPatient.NFZUnit.Description</h5>
            <br>
        </div>
        <div class="p-2 d-flex pt-3 m-auto flex-grow-1 flex-column" style="width:400px;text-align:center">
            @*<div class=" d-flex ">*@

            <form class="form my-2" asp-action="PatientItemEdit" method="post">
                <div>
                    <input asp-for="CurrentPatientId" hidden />
                    <input asp-for="HasPolishCitizenship" hidden />
                    <input asp-for="SelectedAglomeration" hidden />
                    <input asp-for="SelectedGender" hidden />
                    <input asp-for="SelectedId" hidden />
                    <input asp-for="SelectedMedicalPackageId" hidden />
                    <input asp-for="SelectedName" hidden />
                    <input asp-for="SelectedNFZUnitId" hidden />
                    <input asp-for="SelectedPassportNumber" hidden />
                    <input asp-for="SelectedPESEL" hidden />
                    <input asp-for="SelectedSurname" hidden />

                    <select asp-for="ViewMode" asp-items="readMode" hidden ></select>
                </div>
                <div class="form-group d-flex flex-column">
                    <button type="submit" class="btn btn-primary btn-icon-split d-flex">
                        <span class="icon text-white-50 left" style="text-align:left;float:left">
                            <i class="fas fa-pen-square"></i>
                        </span>
                        <span class="text" style="float: left">Edytuj</span>
                    </button>
                </div>

            </form>
                <form class="form my-2" asp-action="PatientItemRemove" method="post">
                    <div class="form-group d-flex flex-column">

                        <input asp-for="CurrentPatientId" hidden />
                        <input asp-for="HasPolishCitizenship" hidden />
                        <input asp-for="SelectedAglomeration" hidden />
                        <input asp-for="SelectedGender" hidden />
                        <input asp-for="SelectedId" hidden />
                        <input asp-for="SelectedMedicalPackageId" hidden />
                        <input asp-for="SelectedName" hidden />
                        <input asp-for="SelectedNFZUnitId" hidden />
                        <input asp-for="SelectedPassportNumber" hidden />
                        <input asp-for="SelectedPESEL" hidden />
                        <input asp-for="SelectedSurname" hidden />
                        <input asp-for="ViewMode" hidden />
                        <select asp-for="ViewMode" asp-items="removeMode" hidden ></select>
                    </div>

                    <div class="form-group d-flex flex-column">
                        <button type="submit" class="btn btn-primary btn-icon-split d-flex">
                            <span class="icon text-white-50 left" style="text-align:left;float:left">
                                <i class="fas fa-minus-square"></i>
                            </span>
                            <span class="text" style="float: left">Usuń</span>
                        </button>
                    </div>
                </form>
            @*</div>*@
        </div>
    </div>
</div>
