@model Asklepios.Web.Areas.AdministrativeArea.Models.VisitViewModel

<div class="d-flex jumbotron w-80 flex-column" style=" padding:20px;display:flex;align-content:center;position:relative">
    <div class="d-flex mb-3 flex-wrap  align-items-center">
        <div class="p-2   align-content-center align-items-center align-self-center mx-auto" style="width:400px; text-align:center">
            <div class="d-flex flex-fill flex-column justify-content-center" style="text-align:center">
                <h3 style="font-weight:900;">
                    <a asp-action="MedicalWorkerDetails" asp-controller="Administrative" asp-route-id="@Model.Visit.MedicalWorkerId">

                        @Model.Visit.MedicalWorker.FullProffesionalName
                    </a>

                </h3>
                <div class="d-flex align-content-center mr-auto pt-2" style="text-align:center">
                    <img alt="@Model.Visit.MedicalWorker.FullProffesionalName" src="@Model.Visit.MedicalWorker.Person.ImageSource" class="mx-auto d-block" style="display: block; max-height:50% ; max-width:50%;
        border-radius: 6px; ">
                </div>

            </div>
        </div>
        <div class="p-2 flex-grow-1 pt-3 m-auto flex-grow-1" style="width:400px;text-align:center">
            <h5 style="font-weight:900;">
                @Model.Visit.GetVisitDateDescription()
            </h5>
            <br>
            <h5>
                @Model.Visit.Location.Name
            </h5>
            <h5>
                Gabinet nr @Model.Visit.MedicalRoom.Name
            </h5>

            <h5>
                @Model.Visit.VisitCategory.CategoryName - @Model.Visit.PrimaryService.Name
                @if (Model.Visit.PrimaryService.RequireRefferal)
                {
                    <span>
                        <br />
                        *usługa wymaga skierowania
                    </span>
                }
            </h5>
            @{
                if ( Model.Visit.VisitStatus == Asklepios.Core.Enums.VisitStatus.Booked)
                {
                    //Model.Visit.VisitStatus == Asklepios.Core.Enums.VisitStatus.AvailableNotBooked ||
                        <h5 style="font-weight:900;">
                            Wizyta zarezerwowana przez:
                            @Model.Visit.Patient.Person.FullName
                            <span>
                                <br />
                                Id: @Model.Visit.Patient.Id
                            </span>

                            <span>
                                <br />
                                *poinformuj pacjenta o odwołaniu wizyty
                            </span>
                        </h5>
                }
            }
        </div>
        <div class="p-2 pt-3 m-auto flex-grow-1" style="width:400px;">
            <div class="d-flex flex-column align-content-end justify-content-evenly m-auto">
                <form class="form my-2" asp-action="RemoveSpecifiedVisit" method="post">
                    <div class="form-group d-flex flex-column">
                        <input asp-for="SelectedLocationId" type="hidden">
                        <input asp-for="SelectedMedicalRoomId" type="hidden">
                        <input asp-for="SelectedMedicalWorkerId" type="hidden">
                        <input asp-for="SelectedPrimaryServiceId" type="hidden">
                        <input asp-for="SelectedVisitCategoryId" type="hidden">
                        <input asp-for="VisitsDateFrom" type="hidden">
                        <input asp-for="VisitsDateTo" type="hidden">
                        <input asp-for="Visit.Id" type="hidden">
                        <div class="form-group d-flex flex-column">
                            <button id="btnSubmit" type="submit" class="btn btn-primary btn-icon-split d-flex mt-3">
                                <span class="icon text-white-50 left" style="text-align:left;float:left">
                                    <i class="fas fa-minus-square"></i>
                                </span>
                                <span class="text" style="float: left">Usuń</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
