@using Asklepios.Core.Extensions
@model Asklepios.Web.Areas.AdministrativeArea.Models.UserViewModel
@{
    Person person = Model.User.Person;
    User user = Model.User;
}
<div class="d-flex flex-column">

    <div class="form-group d-flex flex-column">

        <label asp-for="@user.WorkerModuleType" class="control-label"></label>
        <input value="@user.WorkerModuleType.GetDescription()" class="form-control mb-2" readonly />

        <label asp-for="@person.Name" class="control-label"></label>
        <input asp-for="@person.Name" class="form-control mb-2" readonly />

        <label asp-for="@person.Surname" class="control-label"></label>
        <input asp-for="@person.Surname" class="form-control mb-2" readonly />
        
        <label asp-for="@user.UserName" class="control-label"></label>
        <input asp-for="@user.UserName" class="form-control mb-2" readonly />


        <label asp-for="@person.Gender" class="control-label"></label>
        <input class="form-control  mb-2" value="@person.Gender.GetDescription()" readonly />

        <label asp-for="@person.PhoneNumber" class="control-label"></label>
        <input asp-for="@person.PhoneNumber" class="form-control mb-2" readonly />


        <label asp-for="@person.DefaultAglomeration" class="control-label"></label>
        <input class="form-control  mb-2" value="@person.DefaultAglomeration.Value.GetDescription()" readonly />

        <label asp-for="@user.Email" class="control-label"></label>
        <input asp-for="@user.Email" class="form-control mb-2" readonly />


        <label asp-for="@user.Person.BirthDate" class="control-label"></label>
        <input asp-for="@user.Person.BirthDate" class="form-control mb-2" readonly />

        <div class="d-flex flex-row">
            <label asp-for="@user.Person.HasPolishCitizenship"></label>
            <input type="checkbox" asp-for="@user.Person.HasPolishCitizenship" class="custom-control ml-2 " style="height:20px;width:20px" disabled />
        </div>

        <label asp-for="@user.Person.PESEL" class="control-label"></label>
        <input asp-for="@user.Person.PESEL" class="form-control mb-2" readonly />

        <label asp-for="@user.Person.PassportNumber" class="control-label"></label>
        <input asp-for="@user.Person.PassportNumber" class="form-control mb-2" readonly />

        <label asp-for="@user.Person.PassportCode" class="control-label"></label>
        <input asp-for="@user.Person.PassportCode" class="form-control mb-2" readonly />

        <label asp-for="@user.Person.ImageFile" class="control-label"></label>

        <div class="d-flex flex-fill  justify-content-center mt-2" style="text-align:center">
            <img src="@user.Person.ImageSource" class="img-fluid" style="display: block; max-height:300px;
        border-radius: 6px; ">
        </div>


    </div>

</div>