@model Asklepios.Web.Areas.MedicalWorkerArea.Models.

<div class="d-flex jumbotron  flex-column" style=" padding:20px;align-content:center;position:relative">
    <div class="d-flex mb-3 flex-wrap  align-items-center">
        <div class="p-2   align-content-center align-items-center  mx-auto" style="width:400px; text-align:center">
            <div class="d-flex flex-fill flex-column justify-content-center" style="text-align:center">
                <h3 style="font-weight:900;">
                    <a asp-action="MedicalWorkerDetails" asp-controller="Patient" asp-route-id="@Model.Visit.MedicalWorker.Id">

                        @Model.Visit.MedicalWorker.FullProffesionalName
                        </a>
                </h3>
                <div class="d-flex align-content-center mr-auto pt-2" style="text-align:center">
                    <img alt="@Model.Visit.MedicalWorker.FullProffesionalName" src="@Model.Visit.MedicalWorker.Person.ImageSource" class="mx-auto d-block" style="display: block; max-height:50% ; max-width:50%;
        border-radius: 6px; ">
                </div>
            </div>
        </div>
        <div class="p-2 flex-grow-1 pt-3 m-auto flex-grow-1" style="width:400px;text-align:center">
            <h5 style="font-weight:900;">
                @Model.Visit.GetVisitDateDescription()
            </h5>
            <br>
            <h5>
                @Model.Visit.Location.Name
            </h5>
            <h5>
                @Model.Visit.VisitCategory.CategoryName - @Model.Visit.PrimaryService.Name

            </h5>
            @if (Model.Visit.IsNotCompletedMedicalTest)
            {
                <h5>
                    "W realizacji..."
                </h5>
            }
        </div>
        <div class="p-2 pt-3 m-auto flex-grow-1" style="width:400px;; text-align:center">
            <div class="d-flex flex-column align-content-end justify-content-evenly m-auto">
                <a asp-area="PatientArea" asp-controller="Patient" asp-action="VisitDetails" asp-route-id="@Model.Visit.Id" class="btn btn-primary btn-icon-split ">
                    <span class="icon text-white-50 left" style="text-align:left;float:left">
                        <i class="fas fa-book-open"></i>
                    </span>
                    <span class="text" style="float: left">Szczegóły wizyty</span>
                </a>
            <form class="form d-flex flex-column mt-2" asp-action="BookVisitConditions" method="post">
                <button type="submit" class="btn btn-primary btn-icon-split ">
                    <span class="icon text-white-50 left" style="text-align:left;float:left">
                        <i class="fas fa-retweet"></i>
                    </span>
                    <span class="text" style="float: left">Zarezerwuj ponownie</span>
                </button>
                <input asp-for="SelectedMedicalWorkerId" style="visibility:collapse; height:0px" value="@Model.Visit.MedicalWorker.Id.ToString()"/>
                <input asp-for="SelectedServiceId" style="visibility:collapse; height:0px"value="@Model.Visit.PrimaryService.Id.ToString()"/>
            </form>
            </div>
        </div>
    </div>
</div>
