@model Asklepios.Core.Models.VisitReview

<div class="border border-secondary rounded w-100 flex-grow-0 p-3">
    @*<partial name="_Stars" model="@Model.GeneralRate" />*@

    <div class="d-flex flex-row ">
        <div class="font-weight-bold"> Pan(i) @Model.Reviewer.Person.FullName:</div>
        <div class="ml-auto" style=""> Dodane @Model.ReviewDate.DateTime.ToShortDateString()</div>
    </div>
    <div class="d-flex flex-row mt-2">
        <div style="margin-right:10px">
            @Model.ShortDescription
        </div>
        <div class="flex-column ml-auto" style="">
            @*Dodane @Model.VisitReviews[0].ReviewDate.ToShortDateString()*@
            <div class="d-flex flex-row ">
                <div class="d-flex" style="width:150px;">
                    Atmosfera
                </div>
                <div class="d-flex " style="width:150px;">
                    <partial name="_Stars" model="@Model.AtmosphereRate" />
                </div>

            </div>
            <div class="d-flex flex-row ">
                <div class="d-flex" style="width: 150px;">
                    Profesjonalizm
                </div>
                <div class="d-flex" style="width: 150px;">
                    <partial name="_Stars" model="@Model.CompetenceRate" />
                </div>
            </div>
            <div class="d-flex flex-row ">
                <div class="d-flex" style="width: 150px;">
                    Ocena ogólna
                </div>
                <div class="d-flex" style="width: 150px;">
                    <partial name="_Stars" model="@Model.GeneralRate" />
                </div>
            </div>
        </div>
    </div>
</div>
