@model Asklepios.Web.Areas.MedicalWorkerArea.Models.PatientViewModel
@{
    //SelectList medicalPackagesList = new SelectList(Model.MedicalPackages, "Id", "Name");
    //SelectList nfzUnits = new SelectList(Model.NFZUnits, "Id", "Description");
    //Model.Person.HasPolishCitizenship = true;

    //Asklepios.Web.Areas.AdministrativeArea.Models.ViewMode editViewMode = Asklepios.Web.Areas.AdministrativeArea.Models.ViewMode.Edit;
    //Asklepios.Web.Areas.AdministrativeArea.Models.ViewMode removeViewMode = Asklepios.Web.Areas.AdministrativeArea.Models.ViewMode.Remove;
}
<div class="d-flex flex-column">
    <div class="d-flex flex-column align-content-around  m-2">


        <div class="d-flex flex-fill  justify-content-center mt-2" style="text-align:center">
            <img src="@Model.Patient.Person.ImageSource" class="img-fluid" style="display: block; max-height:300px;
        border-radius: 6px; ">
        </div>
    </div>

    <div class="form-group d-flex  flex-wrap">
        @*<span id="MessageSpan" asp-validation-for="User.UserName" class="text-danger"></span>*@

        @*<label asp-for="User.EmailAddress" class="control-label"></label>
            <input asp-for="User.EmailAddress" class="form-control mb-2" readonly />*@

        @*<label asp-for="User.Password" class="control-label"></label>
            <input asp-for="User.Password" class="form-control mb-2" readonly />*@
        <div class="d-flex flex-fill align-content-xl-around form-control border-info alert-info m-2" style="width:400px">
            <label asp-for="Patient.Person.Name" class="control-label"></label>
            <span class="flex-grow-1 text-right">@Model.Patient.Person.Name</span>

        </div>
        <div class="d-flex flex-fill align-content-xl-around form-control border-info alert-info m-2" style="width:400px">
            <label asp-for="Patient.Person.Surname" class="control-label"></label>
            <span class="flex-grow-1 text-right">@Model.Patient.Person.Surname</span>

        </div>
        <div class="d-flex flex-fill align-content-xl-around form-control border-info alert-info m-2" style="width:400px">
            <label asp-for="Patient.Person.Gender" class="control-label"></label>
            <span class="flex-grow-1 text-right">@Model.Patient.Person.Gender.GetDescription()</span>

        </div>
        <div class="d-flex flex-fill align-content-xl-around form-control border-info alert-info m-2" style="width:400px">
            <label asp-for="Patient.Person.DefaultAglomeration" class="control-label"></label>
            <span class="flex-grow-1 text-right">@Model.Patient.Person.DefaultAglomeration.Value.GetDescription()</span>

        </div>
        <div class="d-flex flex-fill align-content-xl-around form-control border-info alert-info m-2" style="width:400px">
            <label asp-for="Patient.Person.PhoneNumber" class="control-label"></label>
            <span class="flex-grow-1 text-right">@Model.Patient.Person.PhoneNumber</span>

        </div>
        <div class="d-flex flex-fill align-content-xl-around form-control border-info alert-info m-2" style="width:400px">
            <label asp-for="Patient.Person.BirthDate" class="control-label"></label>
            <span class="flex-grow-1 text-right">@Model.Patient.Person.BirthDate.Value.Date.ToString("dd.MM.yyyy")</span>

        </div>
        <div class="d-flex flex-fill align-content-xl-around form-control border-info alert-info m-2" style="width:400px">
            <label asp-for="Patient.Person.PESEL" class="control-label"></label>
            <span class="flex-grow-1 text-right">@Model.Patient.Person.PESEL</span>

        </div>
        <div class="d-flex flex-fill align-content-xl-around form-control border-info alert-info m-2" style="width:400px">
            <label asp-for="Patient.Person.PassportNumber" class="control-label"></label>
            <span class="flex-grow-1 text-right">@Model.Patient.Person.PassportNumber</span>
        </div>
        <div class="d-flex flex-fill align-content-xl-around form-control border-info alert-info m-2" style="width:400px">
            <label asp-for="Patient.Person.PassportCode" class="control-label"></label>
            <span class="flex-grow-1 text-right">@Model.Patient.Person.PassportCode</span>
        </div>
        <div class="d-flex flex-fill align-content-xl-around form-control border-info alert-info m-2" style="width:400px">
            <label asp-for="Patient.User.Email" class="control-label"></label>
            <span class="flex-grow-1 text-right">@Model.Patient.User.Email</span>

        </div>
        <div class="d-flex flex-fill align-content-xl-around form-control border-info alert-info m-2" style="width:400px">
            <label asp-for="Patient.NFZUnit" class="control-label"></label>
            <span class="flex-grow-1 text-right">@Model.Patient.NFZUnit.Description</span>

        </div>
        <div class="d-flex flex-fill align-content-xl-around form-control border-info alert-info m-2" style="width:400px">
            <label asp-for="Patient.MedicalPackage" class="control-label"></label>
            <span class="flex-grow-1 text-right">@Model.Patient.MedicalPackage.Name</span>

        </div>
    </div>
</div>

@{
    if (Model.Patient.TestsResults != null && Model.Patient.TestsResults.Count > 0)
    {
        <h2 class="text-center">
            Wyniki badań
        </h2>
        foreach (var item in Model.Patient.TestsResults)
        {
            <partial name="_TestResult" model="item" />

        }

    }
}
@{
    if (Model.Patient.MedicalReferrals != null)
    {
        @if (Model.Patient.MedicalReferrals.Count>0)
        {
            <h2 class="text-center">
                Skierowania
            </h2>
            }
    else
                {
            <h2 class="text-center">
                Brak skierowań...
            </h2>

                }
        foreach (var item in Model.Patient.MedicalReferrals)
        {
            <partial name="_MedicalReferral" model="item" />

        }

    }
}
@{
    if (Model.Patient.Prescriptions != null)
    {
        @if (Model.Patient.MedicalReferrals.Count>0)
        {
            <h2 class="text-center">
                Recepty
            </h2>
            }
    else
                {
            <h2 class="text-center">
                Brak recept...
            </h2>

                }
        foreach (var item in Model.Patient.Prescriptions)
        {
            <partial name="_Prescription" model="item" />

        }

    }
}

@{
    if (Model.Patient.HistoricalVisits != null)
    {
        @if (Model.Patient.MedicalReferrals.Count>0)
        {
            <h2 class="text-center">
                Wizyty
            </h2>
            }
    else
                {
            <h2 class="text-center">
                Brak wizyt...
            </h2>

                }
            foreach (var item in Model.Patient.HistoricalVisits)
            {
                <partial name="_HistoricalVisitPatient" model="item" />

            }
        }
}


<script>
    $('#MessageSpan').delay(5000).fadeOut(300);
</script>
