@model Asklepios.Web.Areas.MedicalWorkerArea.Models.MedicalWorkerViewModel
@{
    //SelectList medicalPackagesList = new SelectList(Model.MedicalPackages, "Id", "Name");
    //SelectList nfzUnits = new SelectList(Model.NFZUnits, "Id", "Description");
    //Model.Person.HasPolishCitizenship = true;

    //Asklepios.Web.Areas.AdministrativeArea.Models.ViewMode editViewMode = Asklepios.Web.Areas.AdministrativeArea.Models.ViewMode.Edit;
    //Asklepios.Web.Areas.AdministrativeArea.Models.ViewMode removeViewMode = Asklepios.Web.Areas.AdministrativeArea.Models.ViewMode.Remove;
    Person person = Model.MedicalWorker.Person;
    User user = Model.MedicalWorker.User;
    MedicalWorker mw = Model.MedicalWorker;
}
<div class="d-flex flex-column">

    <div class="form-group d-flex flex-column">
        <label asp-for="@user.WorkerModuleType" class="control-label"></label>
        <input value="@user.WorkerModuleType.GetDescription()" class="form-control mb-2" readonly />

        <label asp-for="@mw.ProfessionalTitle" class="control-label"></label>
        <input asp-for="@mw.ProfessionalTitle" class="form-control mb-2" readonly />

        <label asp-for="@mw.ProfessionalNumber" class="control-label"></label>
        <input asp-for="@mw.ProfessionalNumber" class="form-control mb-2" readonly />

        <label asp-for="@user.UserName" class="control-label"></label>
        <input asp-for="@user.UserName" class="form-control mb-2" readonly />

        <label asp-for="@person.Name" class="control-label"></label>
        <input asp-for="@person.Name" class="form-control mb-2" readonly />

        <label asp-for="@person.Surname" class="control-label"></label>
        <input asp-for="@person.Surname" class="form-control mb-2" readonly />


        <label asp-for="@person.Gender" class="control-label"></label>
        <input class="form-control  mb-2" value="@person.Gender.GetDescription()" readonly />

        <label asp-for="@person.PhoneNumber" class="control-label"></label>
        <input asp-for="@person.PhoneNumber" class="form-control mb-2" readonly />


        <label asp-for="@person.DefaultAglomeration" class="control-label"></label>
        <input class="form-control  mb-2" value="@person.DefaultAglomeration.Value.GetDescription()" readonly />
        <label asp-for="@user.Email" class="control-label"></label>
        <input asp-for="@user.Email" class="form-control mb-2" readonly />


        <label asp-for="@person.BirthDate" class="control-label"></label>
        <input asp-for="@person.BirthDate" class="form-control mb-2" readonly />

        <div class="d-flex flex-row">
            <label asp-for="@person.HasPolishCitizenship"></label>
            <input type="checkbox" asp-for="@person.HasPolishCitizenship" class="custom-control ml-2 " style="height:20px;width:20px" readonly />
        </div>

        <label asp-for="@person.PESEL" class="control-label"></label>
        <input asp-for="@person.PESEL" class="form-control mb-2" readonly />

        <label asp-for="@person.PassportNumber" class="control-label"></label>
        <input asp-for="@person.PassportNumber" class="form-control mb-2" readonly />

        <label asp-for="@person.PassportCode" class="control-label"></label>
        <input asp-for="@person.PassportCode" class="form-control mb-2" readonly />

        <label asp-for="@person.ImageFile" class="control-label"></label>

        <div class="d-flex flex-fill  justify-content-center mt-2" style="text-align:center">
            <img src="@person.ImageSource" class="img-fluid" style="display: block; max-height:300px;
        border-radius: 6px; ">
        </div>
    </div>
</div>