@model Asklepios.Web.Areas.MedicalWorkerArea.Models.CurrentVisitViewModel

<div class="d-flex jumbotron flex-column" style=" padding:20px;display:flex;align-content:center;position:relative">
    @if (Model.Visit.VisitStatus == Asklepios.Core.Enums.VisitStatus.NotHeldAbsentPatient)
    {
        <h3 class="mx-auto" style="font-weight:900;">
            Pacjent nie przybył na wizytę
        </h3>
    }
    else if (Model.Visit.VisitStatus == Asklepios.Core.Enums.VisitStatus.NotHeldOther)
    {
        <h3 style="font-weight:900;">
            Wizyta została odwołana
        </h3>
    }
    <div class="d-flex mb-3 flex-wrap align-self-top align-items-top;">

        <div class="p-2   align-content-center align-items-center align-self-top  mx-auto " style="min-width: 400px;  text-align: center">
            <div class="d-flex flex-fill flex-column justify-content-center" style="text-align:center">
                <h3 style="font-weight:900;">
                    <a asp-action="MedicalWorkerDetails" asp-controller="MedicalWorker" asp-route-id="@Model.Visit.MedicalWorkerId">
                        @Model.Visit.MedicalWorker.FullProffesionalName
                    </a>
                </h3>
                <div class="d-flex flex-fill  justify-content-center mt-2" style="text-align: center; height: 200px">
                    <img alt="@Model.Visit.MedicalWorker.FullProffesionalName" src="@Model.Visit.MedicalWorker.Person.ImageSource" class="mx-auto d-block" style="max-width: 400px; display: block; border-radius: 6px; object-fit: contain">
                </div>
            </div>
        </div>
        <div class="p-2   align-content-center align-items-center align-self-top mx-auto " style="text-align: center; min-width: 400px;">
            <div class="d-flex flex-fill flex-column justify-content-center" style="text-align:center">
                @if (Model.Visit.VisitStatus == Asklepios.Core.Enums.VisitStatus.Booked || Model.Visit.VisitStatus == Asklepios.Core.Enums.VisitStatus.Finished || Model.Visit.VisitStatus == Asklepios.Core.Enums.VisitStatus.NotHeldAbsentPatient || Model.Visit.VisitStatus == Asklepios.Core.Enums.VisitStatus.NotHeldOther)
                {
                    <h3 style="font-weight:900;text-align:center;">
                        <a asp-action="PatientDetails" asp-controller="MedicalWorker" asp-route-id="@Model.Visit.Patient.Id">

                            @Model.Visit.Patient.Person.FullName
                        </a>
                    </h3>
                    <div class="d-flex flex-fill  justify-content-center mt-2" style="text-align:center;height:200px">
                        <img alt="@Model.Visit.Patient.Person.FullName" src="@Model.Visit.Patient.Person.ImageSource" class="mx-auto align-self-top align-items-top;" style="max-width: 400px; display: block; border-radius: 6px; object-fit: contain">
                    </div>

                }
                else
                {
                    <h3 style="font-weight:900;">
                        Wizyta nie została jeszcze zarezerwowana
                    </h3>
                }
            </div>
        </div>


        @*</div>*@
    </div>
    <div class="d-flex flex-column mx-2">
        <h5> Czas i miejsce</h5>
        <div class="border border-secondary rounded w-100 flex-grow-0 mb-3  p-3">
            <div class="flex-column  mx-auto flex-grow-1">
                <div>
                    Data: @Model.Visit.GetVisitDateFullDescription()
                </div>
                <div>
                    @Model.Visit.Location.Name
                </div>
                <div>
                    Piętro: @Model.Visit.MedicalRoom.FloorNumber, pokój: @Model.Visit.MedicalRoom.Name
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column mx-2">
        <h5>Usługa</h5>
        <div class="border border-secondary rounded w-100 flex-grow-0 mb-3  p-3">
            <div>
                <b>  @Model.Visit.VisitCategory.CategoryName </b>
            </div>
            <br />
            <div>
                <b>@Model.Visit.PrimaryService.Name </b>  : @Model.Visit.GetPrice(Model.Visit.PrimaryService).ToString("c") PLN
            </div>

            @for (int i = 0; i < Model.Visit.MinorMedicalServices?.Count; i++)
            {
                MedicalService service = Model.Visit.MinorMedicalServices[i];
                if (service != null)
                {
                    <div>
                        <b>@service.Name</b>  : @Model.Visit.GetPrice(service).ToString("c"); PLN
                    </div>

                }
            }
            <br />

            <div>Koszt całkowity: <b> @Model.Visit.GetTotalPrice().ToString("c"); PLN</b></div>
        </div>
    </div>
    @if (Model.Visit.MedicalHistory != null)
    {
        <div class="d-flex flex-column mx-2">
            <h5>Wywiad medyczny</h5>
            <div class="border border-secondary rounded w-100 flex-grow-0 mb-3  p-3">

                <div class="d-flex flex-fill pt-2 flex-column">
                    <div>
                        @Model.Visit.MedicalHistory
                    </div>

                </div>
            </div>
        </div>
    }
    @if (Model.Visit.Recommendations?.Count > 0)
    {
        <div class="d-flex flex-column mx-2">
            <h5>Zalecenia</h5>
            <div class="border border-secondary rounded w-100 flex-grow-0 mb-3  p-3">
                @{
                    int i = 0;
                    foreach (Recommendation rec in Model.Visit.Recommendations)
                    {
                        i++;
                        <div class="d-flex flex-fill pt-2 flex-column">
                            <div>
                                @rec.Title
                            </div>
                            <div>
                                @rec.Description
                            </div>

                        </div>
                        if (i < Model.Visit.Recommendations.Count)
                        {
                            <hr class="mx-0 my-1" style="height:2px; border-width:0;color:gray;background-color:gray;text-align:right; ">
                        }
                    }

                }
            </div>
        </div>
    }

    @if (Model.Visit.ExaminationReferrals != null && Model.Visit.ExaminationReferrals.Count > 0)
    {
        <div class="d-flex flex-column mx-2">
            <h5>Wystawione skierowania</h5>
            <div class="border border-secondary rounded w-100 flex-grow-0 mb-3  p-3">
                @for (int i = 0; i < Model.Visit.ExaminationReferrals.Count; i++)
                {
                    MedicalReferral referral = Model.Visit.ExaminationReferrals[i];

                    <div>
                        Usługa: @referral.PrimaryMedicalService.Name
                    </div>
                    @if (referral.MinorMedicalService != null)
                    {
                        <span>
                            Podusługa: @referral.MinorMedicalService.Name
                        </span>

                    }

                    <div>
                        Wystawione: @referral.IssueDate.ToString("dd-MM-yyyy")
                    </div>
                    <div>
                        Ważne do: @referral.ExpireDate.ToString("dd-MM-yyyy")
                    </div>
                    if (referral.HasBeenUsed)
                    {
                        <p>
                            Skierowanie zostało wykorzystane
                        </p>
                    }
                    else if (referral.HasExpired)
                    {
                        <p>Ważność skierowania upłynęła</p>
                    }

                    if (i < Model.Visit.ExaminationReferrals.Count - 1)
                    {
                        <hr class="mx-0 my-2" style="height:2px; border-width:0;color:gray;background-color:gray;text-align:right; ">
                    }
                }
            </div>


        </div>
    }
    @if (Model.Visit.Prescription != null)
    {
        <div class="d-flex flex-column mx-2">
            <h5>Recepta</h5>

            <div class="border border-secondary rounded w-100 flex-grow-0 mb-3  p-3">

                <div class="d-flex flex-fill pt-2 flex-column">

                    <div>
                        Wystawione: @Model.Visit.Prescription.IssueDate.ToString("dd-MM-yyyy")
                    </div>
                    <div>
                        Ważne do: @Model.Visit.Prescription.ExpirationDate.ToString("dd-MM-yyyy")
                    </div>
                    <div>
                        Numer id recepty:
                        <span style="font-weight:bold"> @Model.Visit.Prescription.IdentificationCode</span>
                    </div>
                    <p>Kod dostępu: <span style="font-weight:bold">  @Model.Visit.Prescription.AccessCode</span> </p>
                </div>
                <div class="d-flex flex-fill  flex-column">

                    <p>
                        @{
                            for (int i = 0; i < Model.Visit.Prescription.IssuedMedicines.Count; i++)
                            {
                                IssuedMedicine item = Model.Visit.Prescription.IssuedMedicines[i];
                                <partial name="_Medicine" model="item" />
                                if (i == Model.Visit.Prescription.IssuedMedicines.Count - 1)
                                {
                                }
                                else
                                {
                                    <hr class="mx-0 my-2" style="height:2px; border-width:0;color:gray;background-color:gray;text-align:right; ">
                                }
                            }
                        }
                    </p>
                </div>
            </div>
        </div>
    }
    @if (Model.Visit.MedicalTestResult != null)
    {
        <div class="d-flex flex-column mx-2">
            <h5>Wyniki badań</h5>
            <div class="border border-secondary rounded w-100 flex-grow-0 mb-3  p-3">

                <div class="d-flex flex-fill pt-2 flex-column">
                    <div>
                        Badanie: @Model.Visit.MedicalTestResult.MedicalService.Name
                    </div>

                    <div>
                        Wykonane: @Model.Visit.MedicalTestResult.ExamDate.ToString("dd-MM-yyyy")
                    </div>
                    <a class="btn btn-primary btn-icon-split mt-3" asp-controller="MedicalWorker" asp-action="DownloadTestResults" asp-route-id="@Model.Visit.MedicalTestResult.Id">
                        <span class="icon text-white-50">
                            <i class="fas fa-download"></i>
                        </span>
                        <span class="text">Wyniki</span>
                    </a>
                </div>
            </div>
        </div>
    }

</div>
